color: #F2E5BF;
}
 
#textContainer {
  max-width: 500px;
  margin: auto;
}
#textContainer h2 {
  margin-bottom: 10px; /* Beri sedikit jarak antara judul dan isi */
}

#textContainer.collapsed #text {
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 5; /* Menampilkan minimal 5 baris */
    -webkit-box-orient: vertical;
}
#content.expanded #text {
  display: block;
}
#textContainer.expanded #text {
  white-space: normal;
  height: auto;
}

/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }
 
  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
 
  main {
    padding: 1rem 3rem;
  }
 
  main .content {
    flex-direction: column;
    gap: 2rem;
  }
 
  main .content .content-description .title {
    font-size: 3rem;
  }
 
  main .content .content-description p {
    font-size: 1rem;
  }
 
  main .content .content-image {
    order: -1;
  }
}
